// nextflow flags
nextflow.enable.moduleBinaries = true

// workflow parameters
params {
    filelist = null
    multiplicate23 = null
    duplicate = null
    triplicate = null
    publish_mode = 'copy'
    output_dir = 'results'
}

// Load config from modules
includeConfig 'modules/example2/module.config'
includeConfig 'example-module-1/modules/example1/module.config'

// Executor configuration
executor {
    name           = 'lsf'
    perJobMemLimit = true
}

// Unscoped options
outputDir = params.output_dir
cleanup   = true
workDir   = "nf-work"