process {
    withName: 'MULTIPLICATE45:Quadraplicate' {
        debug      = true
        executor   = 'local'
        cpus       = 1
        memory     = 4.GB
        publishDir = [
            mode     : params.publish_mode,
            path     : "${params.output_dir}/quadraplicated",
            overwrite: true
        ]
        errorStrategy = 'terminate'
    }
    withName: 'MULTIPLICATE45:Quantiplicate' {
        debug      = true
        executor   = 'local'
        cpus       = 1
        memory     = 4.GB
        publishDir = [
            mode     : params.publish_mode,
            path     : "${params.output_dir}/quantiplicated",
            overwrite: true
        ]
        errorStrategy = 'terminate'
    }
}